


  <mat-toolbar>
    <span>API QUERY</span>
  </mat-toolbar>
  
  <mat-toolbar color="primary">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    <a routerLink="/">INICIO</a>
    <span class="example-spacer"></span>
    <a routerLink="/alta" routerLinkActive="active" *ngIf="!isLogin" >
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
      Registrarse
    </a>
    <a routerLink="/ingresar" routerLinkActive="active" *ngIf="!isLogin"> 
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="login"></mat-icon>  
      Ingresar
    </a>
    <a (click)="logout()" *ngIf="isLogin"> 
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout" ></mat-icon>  
    Salir
    </a>
    
  </mat-toolbar>
