


  <mat-toolbar>
    <span>API QUERY</span>
  </mat-toolbar>
  
  <mat-toolbar color="primary">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    <a routerLink="/">INICIO</a>
  
    <span class="example-spacer"></span>
  
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
    <br>
    <a routerLink="/alta" routerLinkActive="active">
    Registrarse
    </a>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="login"></mat-icon>
    <a routerLink="/ingresar" routerLinkActive="active"> 
    Ingresar
    </a>
  </mat-toolbar>
