.error {
    background-color: red;
}
.ready {
    background-color: chartreuse;
}

.imagen {
    background-size: cover;
    padding-right: 10px;
}

img{
    border-radius: 10px;
    width: 10%;
    height: 10%;
    padding-left: 30px;
}
h1{
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: 30px;
    font-size: 45px;
    font-weight: 700;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;

  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
    padding-left: 40px;

  }
  .mat-card{
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 20px;
 }
 mat-card-title-group{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
 }
 .tarjeta{
    margin-left: 30px;
    margin-right: 30px;
 }
 